@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
    system-ui,
    -apple-system, /* Firefox supports this but not yet `system-ui` */
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
h1,h2,h3,h4,h5,span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}
p{
    line-height: 1.5;
    font-size: 16px;
}
section {
    min-height: calc(100vh - 260px);
    flex: 1;
  }
body{
    min-width: 100vw;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.purple{
    color: #6415FF;
}
.flex{
    display: flex;
}
.flex{
    flex: 1;
}


nav{
    height: 100px;
    width: 100%;
    max-width: 2000px;
    padding: 60px 0 200px 0;
    margin: 0 auto;
    display: flex;
}
 
.nav__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto !important;
}
.nav__logo{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 12px;
    font-weight: 900;
    border-bottom-width: 0px;
    font-size: 1.5rem !important;
    padding: 0 24px;
}
.logo{
    width: 56px;
    margin-right: 0.75rem;
}
.nav__title{
    transition: all 200ms ease;
}
.nav__title:hover{
    color: #6415FF;
}
.nav__link--anchor{
    margin: 0 12px;
    font-size: 23px;
    color: #233E63;
    font-weight: 500;
    padding: 25px;
    transition: all 400ms ease;
}
.nav__link--anchor-primary{
    background-color: #6415FF;
    padding: 15px 50px;
    border-radius: 45px;
    color: #fff; 
    transition: all 400ms ease-in
}
.link__hover-effect{
    transition: all 400ms ease-in
}

.link__hover-effect:hover{
    color: #6415FF;
    text-decoration: underline;

}

.nav__link--anchor-primary:hover{
    background-color: rgb(84, 40, 172);
}
.row
{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}
.temp__container{
    display: flex;
}
.left-side{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side{
    width: 60%;
}
.React{
    
    font-size: 80px;
    text-align: left;
    padding-bottom: 24px;
}
.page__para{
    padding: 24px 0 32px 0;
    text-align: left;
    font-size: 28px;
    color: #243E63;
    padding-bottom: 48px;
}

.box1{
    display: flex;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding-left: 34px;
    padding-top: 28px;
    padding-bottom: 28px;
    border-width: 2px;
    border-radius: 999px;
    width: 100%;
    max-width: 580px;
    font-weight: 500;
    font-size: 26px;
    transition-duration: 300ms;
    border: 2px solid #7d7f85;;
    
}

.button1{
    background-color: #6415FF;
    color: #fff;
    height: 90%;
    border: none;
    padding: 24px 0 ;
    border-width: 2px;
    border-radius: 999px;
    width: 100%;
    max-width: 225px;
    font-weight: 500;
    font-size: 26px;
    text-align: center; 
    transition-duration: 300ms;
    margin-left: -236px; 
    margin-top: 7.25px;

}
.button1:hover{
    background-color: #4410ac;
}
.btn{
    display: flex;
    position: relative;

}
.trust{
    text-align: left;
    padding-bottom: 16px;
    opacity: .5;
}
.picas{
    opacity: .5;
}

/*
 Features 
 
 */

 #features{
    min-height: 100vh;
    flex: 1;
 }
 .little{
    font-size: 24px;
    letter-spacing: 2px;
    color: #6415FF;
    margin-top: 160px;
    padding-bottom: 48px;
 }
 .feat__title{
    font-size: 73px;
 }
 .feat__desc{
    
 }
